  <%= render 'navbar' %>

<div class="cocktails">

  <div class="intro">
    <h1>Welcome to my cocktail bar!</h1>
    <p>Here is a list of my cocktails, feel free to create a new one if you want!</p>
  </div>

  <% @cocktails.each do |cocktail| %>
    <ul>
      <%= render 'card', cocktail: cocktail %>
     </ul>
  <% end %>
</div>
