.navbar-lewagon {
  justify-content: space-between;
  background: #B7B6C1;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 50px;
  border-radius: 50%;
  padding: 5px;
  border: 1px solid #464655;
  transition: 0.3s;
  background-color: #464655;

  &:hover {
    background-color: #B7B6C1;
  }
}

#nav-link1 {
  color: #B7B6C1;
  font-size: 18px;
  text-decoration: none;
  padding: 10px 20px;
  border: 1px solid #B7B6C1;
  transition: 0.3s;
  border-radius: 5px;
  border: 1px solid #464655;
  background-color: #464655;

  &:hover {
    background-color: #B7B6C1;
    color: #464655;
  }
}
